<div class="jumbotron">
  <h1>Trips</h1>
  <p>Travel to any place of your choice.</p>
</div>

<div class="row-fluid">
  <table class="table">
    <thead>
      <th>  </th>
      <th> Origin </th>
      <th> Destination </th>
      <th> Start Time </th>
      <th> End Time </th>
      <th> Distance </th>
    </thead>
    <tbody> 
      <% @trips.each do |trip| %>
        <% if not trip.completed %>
          <%= render :partial => 'trips/trip_list_row', :locals => {:trip => trip}  %>
        <% end %>
      <% end %>
      <span class="glyphicon glyphicon-lock"></span> Trip is full.<br>
      <span class="glyphicon glyphicon-ok"></span> You're on this trip.
    </tbody>
  </table>
</div>
