<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to ShareCar, <%= @user.name %></h1>
    <p>
      You have successfully signed up to ShareCar,
      your username is: <%= @user.email %>.<br>
    </p>
    <p>
      To activate your account, just follow this link: <%= edit_account_activation_url(@user.auth_token, email: @user.email) %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>