<h1>Loans#index</h1>
<p>Find me in app/views/loans/index.html.erb</p>
<% if @bgroup.count > 0 %>
You owe
<br>
<% end %>
<% @bgroup.each do |k,v| %>
    <%= "#{User.find(k).name} $#{v}" %>
    <br>
<% end %>
<% if @lgroup.count > 0 %>
You lent
<br>
<% end %>
<% @lgroup.each do |k,v| %>
    <%= "#{User.find(k).name} $#{v}" %>
    <br>
<% end %>
